h1{
    color: #f75757;
    font-size: 5em;
    text-align: center;
    padding-top: 1em
}
h2{
    color: #f75757;
    font-size: 3em;
    padding-top: 1em
}
p{
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0.5em
}